<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MH_SI_Budzik.MH_SI_Budzik" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<application android:allowBackup="true" android:label="@string/app_name" android:icon="@drawable/ic_alarm_black_48dp">
		<receiver android:name=".Alarm_Receiver" />
		<service android:name=".RingtonePlayingService" android:enabled="true" />
    <activity android:name=".Zagadka" />
	</application>
</manifest>